body{
  font-family:"Arial", "Meiryo", sans-serif;
  text-align: center;
}
h1{
  text-shadow:10px 10px 5px rgba(0, 0, 0, 0.329);
  letter-spacing:1.2em;
  background-color:peru;
  border-bottom:solid 3px khaki;
}
.blue{
  color:skyblue;
  background: rgb(8, 8, 97);
}
.pink{
  color:rgb(255,192,203);
  background-color: crimson;
}
#name div{
  font-weight:bold;
}
h1{
  font-family: Josefin Sans,sans-serif;
}